@{
    ViewBag.Title = "Inicio";
}


    <div class="hero-unit">
        <h1>Olá e Bem-Vindo!</h1>
        <p>Este é um sistema de exemplo feito para demonstrar o uso simples de login em ASP.Net MVC</p>
    </div>

